           :root {
              --primary-title-color: #FFFFFF;
              --secondary-title-color: #000000;
              --primary-text-color: #212122;
              --secondary-text-color: #757575;
              --accent-color: #2196F3;
              --header-text-color: #212121;
          }
          
          body {
              letter-spacing: 0.03em;
              font-family: 'Roboto', sans-serif;
          }
          
          .link {
              list-style: none;
          }
          
          .btn {
              font-size: 16px;
              line-height: 1.88;
              display: flex;
              align-items: center;
              letter-spacing: 0.06em;
              color: #FFFFFF;
          }
          /* Header */
          
          .header-link {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.63;
              text-align: center;
              letter-spacing: 0.03em;
              color: #212121;
          }
          
          .header-link:hover,
          .header-link:hover {
              color: var(--accent-color);
          }
          
          .header-contacts-link {
              color: var(--secondary-title-color)
          }
          
          .header-contacts-link {
              color: var(--accent-color);
          }
          
          .header-contacts-link {
              font-weight: 500;
              font-size: 14px;
              line-height: 1.33;
              letter-spacing: 0.02em;
              color: #757575;
          }
          /* Hero */
          
          .header-btn {
              color: var(--primary-text-color);
          }
          
          .hero-right {
              background-color: black;
          }
          
          .hero-list {
              color: #FFFFFF;
          }
          /* About */
          
          .about-title {
              font-family: Roboto, sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 1.33;
              letter-spacing: 0.03em;
              text-transform: uppercase;
              color: #212121;
          }
          
          .about-after-title {
              font-family: Roboto, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 1.71;
              letter-spacing: 0.03em;
              color: #757575;
          }
          /* Gallery */
          
          .gallery-title {
              color;
              black;
          }
          /* Masters */
          
          .masters-title {
              font-family: Roboto, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 36px;
              line-height: 42px;
              text-align: center;
              letter-spacing: 0.03em;
              color: var(--primary-text-color)
          }
          
          .masters-item-text {
              font-size: 16px;
              line-height: 1.19;
              letter-spacing: 0.03em;
              color: var(--secondary-text-color);
          }
          /* Contacts */
          
          .contacts {
              background-color: var(--secondary-title-color);
          }
          
          .contacts-link {
              font-family: Raleway, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 26px;
              line-height: 31px;
              letter-spacing: 0.03em;
              color: var(--secondary-text-color);
          }
          
          .contacts-link {
              font-family: Roboto, sans-serif;
              font-size: 14px;
              line-height: 1.71;
              letter-spacing: 0.03em;
              color: var(--primary-title-color);
          }
          /* Footer */
          
          .contacts-title {
              background-color: #2f303a;
          }
          
          .logo {
              color: #2196F3
          }
          
          ul {
              list-style: none;
          }
          
          .site-nav .link {
              color: #212121;
          }
          
          .site-nav .link:hover,
          .site-nav .link:focus {
              color: #2196F3;
          }
          
          .contacts .cont {
              color: #757575;
          }
          
          .contacts .cont:hover,
          .contacts .cont:focus {
              color: #2196F3;
          }
          
          .hero-title {
              color: #FFFFFF;
          }